/* Hide all elements by default */
* {
    display: none !important;
  }

/* Show only the main content */
html,
body,
*:has(article),
article,
article * {
    display: revert !important;
  }
  
/* Hide navigation elements */
[role='navigation'] {
    display: none !important;
  }
  
/* Center the article and set maximum width */
article {
    margin: auto;
    max-width: 700px;
  }